<header class="header">
    <div class="headinfo container">
        <nav class="nav">
            <div class="logo-container">
                <a href="./index.html">
                    <img src="./img/header/logo.svg" alt="logo" class="logo-image">
                </a>
            </div>
            <ul class="menu">
                <li class="menu-list">
                    <a href="" class="menu-link">about us</a>
                </li>
                <li class="menu-list">
                    <a href="" class="menu-link"> our collection</a>
                </li>
                <li class="menu-list">
                    <a href="" class="menu-link">custumer order</a>
                </li>
                <li class="menu-list">
                    <a href="" class="menu-link">testimonials</a>
                </li>
            </ul>
        </nav>
        <div class="social-networks-container">
            <address class="adress">
                <a href="tel:+380684439426" class="phone-number">+380 (68) 443-94-26</a>
            </address>
            <div class="header-ul-and-menu">
                <ul class="social-networks-ul">
                    <li class="social-networks-list">
                        <a href="https://www.facebook.com/goITclub/" target="_blank" class="social-networks-link">
                            <svg width="28" height="28" class="network-list-icon">
                                <use href="./img/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-networks-list">
                        <a href="https://www.instagram.com/goitclub/" target="_blank" class="social-networks-link">
                            <svg width="28" height="28" class="network-list-icon">
                                <use href="./img/sprite.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-networks-list">
                        <a href="https://www.youtube.com/c/GoIT" target="_blank" сlass="social-networks-link">
                            <svg width="28" height="28" class="network-list-icon">
                                <use href="./img/sprite.svg#icon-youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
           <button class="mobile-menu-button">
                <svg width="36" height="24" class="mobile-menu-icon">
                    <use href="./img/sprite.svg#icon-menu"></use>
                </svg>
            </button>
        </div> 
</header>
<div class="mobile-menu">
    <div class="mobile-menu-container">
        <div class="mobile-menu-top">
            <address class="mobile-adress">
                <a href="tel:+380684439426" class="mobile-phone-number">+380 (68) 443-94-26</a>
            </address>
            <button class="close-button">
                <svg width="32" height="32" class="close-button-icon">
                    <use href="./img/sprite.svg#close"></use>
                </svg>
            </button>
        </div>
        <nav class="mobile-nav">
            <ul class="mobile-menu-nav">
                <li class="mobile-menu-list">
                    <a href="" class="mobile-menu-link">about us</a>
                </li>
                <li class="menu-list">
                    <a href="" class="mobile-menu-link"> our collection</a>
                </li>
                <li class="menu-list">
                    <a href="" class="mobile-menu-link">custumer order</a>
                </li>
                <li class="menu-list">
                    <a href="" class="mobile-menu-link">testimonials</a>
                </li>
            </ul>
        </nav>
        <div class="mobile-img-container"></div>
    </div>
</div>
