<header class="header">
    <div class="headinfo container">
        <nav class="nav">
            <div class="logo-container">
                <img src="./img/sprite.svg#icon-logo" alt="logo" class="logo-image">
            </div>
            <ul class="menu">
                <li class="menu-list">
                    <a href="" class="menu-link">about us</a>
                </li>
                <li class="menu-list">
                    <a href="" class="menu-link"> our collection</a>
                </li>
                <li class="menu-list">
                    <a href="" class="menu-link">custumer order</a>
                </li>
                <li class="menu-list">
                    <a href="" class="menu-link">testimonials</a>
                </li>
            </ul>
        </nav>
        <div class="social-networks-container">
            <address class="adress">
                <a href="tel:+380684439426" class="phone-number">+380 (68) 443-94-26</a>
            </address>
            <div class="header-ul-and-menu">
                <ul class="social-networks-ul">
                    <li class="social-networks-list">
                        <a href="https://www.facebook.com/goITclub/" class="social-networks-link">
                            <svg width="28" height="28" class="network-list-icon">
                                <use href="./img/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-networks-list">
                        <a href="https://www.instagram.com/goitclub/" class="social-networks-link">
                            <svg width="28" height="28" class="network-list-icon">
                                <use href="./img/sprite.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-networks-list">
                        <a href="https://www.youtube.com/c/GoIT" class="social-networks-link">
                            <svg width="28" height="28" class="network-list-icon">
                                <use href="../img/sprite.svg#icon-youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
           <button class="mobile-menu-button">
                <svg width="36" height="24" class="mobile-menu-icon">
                    <use href="../img/sprite.svg#menu"></use>
                </svg>
            </button>
        </div> 
</header>
