<section class="hero">
    <div class="hero-container">
        <div class="mobile-hero-container">
        <div class="title-with button">
        <h1 class="hero-title">
            Reviving the traditional <span class="ukrainian-title">Ukrainian</span> artistry in every stitch.
        </h1>
        <button class="order-button" type="button">
            order
            <svg><use href="../img/sprite.svg#icon-pointer"></use></svg>
        </button>
        </div>
        <img class="hero-img" 
             srcset="../img/hero/girl-mobile.jpg 335w,
                    ../img/hero/girl-mobile@2x.jpg 670w,
                    ../img/hero/girl-tablet.jpg 413w,
                    ../img/hero/girl-tablet@2x.jpg 826w,
                    ../img/hero/girl-desktop.jpg 392w,
                    ../img/hero/girl-desktop@2x.jpg 784w" src="../img/hero/girl-desktop.jpg"
                    sizes="(min-width: 1280px) 392px, (min-width: 768px) 413px, (max-width: 767px) 335px" alt="front-girl">
        </div>
        <div class="emblem">
            <div class="star-emblem">
            <svg class="icon-emblem-star" width="52" height="51">
                <use href="../img/sprite.svg#icon-star"></use>
            </svg>
            <p class="emblem-paragraf">all embroidery is made by hand</p>
        </div>
        <img class="map-emblem" srcset="../img/hero/embroidery-desktop@2x.jpg 2x" src="../img/hero/embroidery-desktop.jpg"
            alt="map">
        </div>
    </div>
</section>