<!-- TESTIMONIALS -->

<section class="testimonials-section" id="testimonials">
  <div class="container">
    <h2 class="testimonials-paragraph">Testimonials</h2>
    <div class="common-div">
      <ul class="testimonials-list">
        <div class="addition-container">
          <li class="testimonials-item">
            <span class="testimonials-span">
              <img
                class="testimonials-img"
                srcset="./img/testimonials/testimonials-1@2x.png 2x"
                src="./img/testimonials/testimonials-1.png"
                alt="maria_tkachuk"
                width="64"
                height="64"
              />
            </span>
            <h3 class="testimonials-name">Maria Tkachuk</h3>
            <p class="testimonials-text">
              I was pleasantly surprised by the variety of embroidery offered by
              Vyshyvanka Vibes. They have models for every taste - from classic
              to modern. I bought an embroidered dress to celebrate a special
              occasion and received impeccable service and refinement in every
              detail.
            </p>
          </li>
        </div>
        <div class="addition-container-second">
          <li class="testimonials-item">
            <span class="testimonials-span">
              <img
                class="testimonials-img"
                srcset="./img/testimonials/testimonials-2@2x.png 2x"
                src="./img/testimonials/testimonials-2.png"
                alt="sergey_rybachok"
                width="64"
                height="64"
              />
            </span>
            <h3 class="testimonials-name">Sergey Rybachok</h3>
            <p class="testimonials-text">
              Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
              simply masterpieces! I fell in love with the quality of the
              materials and the skill of the artisans behind each product. This
              is my favorite embroidery shop where I always find something
              special and unique.
            </p>
          </li>
        </div>
        <div class="addition-container-third">
          <li class="testimonials-item">
            <span class="testimonials-span">
              <img
                class="testimonials-img"
                srcset="./img/testimonials/testimonials-3@2x.png 2x"
                src="./img/testimonials/testimonials-3.png"
                alt="natalia_chatuk"
                width="64"
                height="64"
              />
            </span>
            <h3 class="testimonials-name">Natalia Chatuk</h3>
            <p class="testimonials-text">
              Vyshyvanka Vibes is a real find for everyone who appreciates
              Ukrainian culture. Their embroidery reflects the spirit and
              traditions of our people. I not only buy embroidered shirts for
              myself, but also give them to my friends abroad as a symbol of our
              beauty and national pride.
            </p>
          </li>
        </div>
      </ul>
    </div>
  </div>
</section>
