<section class="order">
  <img
    src="../img/your-order/order-tablet.jpg"
    alt=""
    width="524"
    height="521"
    class="order-img"
  />
  <h2 class="order-title">
    <span class="order-title-span">Your order</span> is our priority:
    Personalized approach and quality of service
  </h2>
  <form class="order-form">
    <input type="text" name="user-name" class="form-input" id="user-name" />
    <input type="email" name="user-email" class="form-input" id="user-email" />
    <button type="submit" class="form-btn">Send</button>
  </form>
</section>
