<section class="order-bg"></section>
<section class="order">
  <div class="container">
    <div class="order-container">
      <div class="wrap-order">
        <h2 class="order-title">
          <span class="order-title-span">Your order</span> is our priority:
          Personalized approach and quality of service
        </h2>
        <form class="order-form">
          <div class="wrap-input">
            <input
              type="text"
              name="user-name"
              class="form-input"
              id="user-name"
              placeholder="Enter your full name"
            />
          </div>
          <div class="wrap-input">
            <input
              type="email"
              name="user-email"
              class="form-input"
              id="user-email"
              placeholder="Enter your email"
            />
          </div>
          <textarea
            name="user-comment"
            id="user-comment"
            class="form-textarea"
            placeholder="Comments"
          ></textarea>

          <button type="submit" class="form-btn">
            Send
            <svg class="form-btn-icon" width="26" height="10">
              <use href="../img/sprite.svg#icon-pointer"></use>
            </svg>
          </button>
        </form>
      </div>
      <img
        src="./img/your-order/order-tablet.jpg"
        srcset="
          ./img/your-order/order-desktop.jpg     524w,
          ./img/your-order/order-desktop@2x.jpg 1048w,
          ./img/your-order/order-tablet.jpg      638w,
          ./img/your-order/order-tablet@2x.jpg  1276w
        "
        sizes="(max-width: 768px) 638px,(min-width: 1280px) 524px"
        alt="a girl in an embroidered dress"
        width="638"
        height="521"
        class="order-img"
      />
    </div>
  </div>
</section>
