.about-section{
    padding-bottom: 62px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url('../img/about-us/bg-about-section-mobile.png');
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: 100% 100%; 
}

.about-section-title{
    font-size: 32px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
    color: #FCF9F9;
}

.about-section-description{
    width: 335px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.05em;
    color: rgba(252, 249, 249, 0.40);
}


.description-wrapper{
    margin-bottom: 50px;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .about-section {
      background-image:url('../img/about-us/bg-about-section-mobile@2x.png');
    }
}

@media screen and (min-width: 768px){
    .about-section{
        min-width: 704px;
        padding-bottom: 50px;
        padding-left: 32px;
        padding-right: 32px;
        background-image: url('../img/about-us/bg-about-section-tablet.png');
    }

    .about-section-description{
        width: 704px;
        font-size: 16px;
        letter-spacing: -0.05em;
    }

    .description-wrapper{
        margin-bottom: 40px;
    }
   
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px){
    .about-section {
        background-image:url('../img/about-us/bg-about-section-tablet@2x.png');
        background-size: 369px;
        background-position: 100% 100%;
    }
}

@media screen and (min-width:1280px) {
    .container {
       width: 1082px;
    }

    .about-section{  
        padding-bottom: 80px;
        padding-left: 100px;
        padding-right: 100px;
        background-image: url('../img/about-us/bg-about-section-desktop.png');
        background-size: 385px;
        background-position: 100% 100%;
    }

    .about-section-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .about-section-description{
        width: 436px;
    }

}



@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
screen and (min-resolution: 2dppx) and (min-width: 1280px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1280px){
    .about-section {
        background-image:url('../img/about-us/bg-about-section-desktop@2x.png');   
    }
}