    body {
        
    }
    .container {
        width: 335px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width:) {
        .container {
            width: 703px;
        }
    }
    
    @media screen and (min-width:) {
        .container {
           width: 1082px;
        }
    }