/* GENERAL STYLES */

.hero {
    max-width: 1082px;
    padding-top: 60px;
    padding-bottom: 80px;
    margin-right: auto;
    margin-left: auto;
}

.mobile-hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-with button{
    display: flex;
}

.hero-title {
    color: #FCF9F9;
    font-family: Manrope;
    font-size: 44px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: -1.32px;
    margin-bottom: 20px;
}

.ukrainian-title{
    color: #ECD979;
}


.order-button{
    display: inline-flex;
    width: 155px;
    height: 49px;
    padding: 14px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    background-color: transparent;
    color: #FCF9F9;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    transition: border, 250ms, linear ;
}

.order-button:hover,
.order-button:focus{
    border: 1px solid var(--yellow, #ECD979);
}

.hero-img{
    border-radius: 4px;
    width: 335px;
}

.emblem{
   display: none;
}


@media screen and (min-width:375px) and (max-width:767px){
    .hero-title{
        width: 335px;
    }
}

@media screen and (min-width:768px){
    .emblem {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: -26px;
    }

    .emblem-paragraf{
        width: 115px;
        color: rgba(252, 249, 249, 0.40);
        text-align: center;
        font-family: Manrope;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.64px;
        margin-top: 16px;
    }

    .star-emblem{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        
    .hero {
        display: flex;
        justify-content: space-between;
        margin-top: 106px;
        margin-bottom: 100px;
    } 

    .hero-title{
        width: 549px;
        font-size: 54px;
        line-height: 64px;
        letter-spacing: -1.62px;
        margin-bottom: 40px;
    }

    .hero-container{
        display: flex;
        column-gap: 40px;
    }

    .mobile-hero-container{
        align-items: flex-start;
    }

    .hero-img {
        width: 413px;

    }    

    .order-button{
        margin-left: 141px;
    }

    .map-emblem{
        width: 157px;
        height: 191px;
       border-top-right-radius: 100%;
       border-top-left-radius: 100%;
       padding-bottom: 39px;
       margin-top: -33px;
       margin-right: -9px;
       margin-left: -9px;
       margin-bottom: -36px;
    }



}


@media screen and (min-width:1280px){
    .hero {
            max-width: 1082px;
            display: flex;
            justify-content: space-between;
            margin-top: 106px;
            margin-bottom: 150px;
            
    }

    .hero-container {
        column-gap: 0px;
    }

    .mobile-hero-container{
        flex-direction: row-reverse;
        column-gap: 40px;
    }

    .hero-img {
        width: 392px;
    }

    .hero-title {
        width: 518px;
        margin-top: 94px;
    }


    .emblem {
        gap: 359px;
        margin-top: 0;
    } 
    
    .map-emblem {
        width: 142px;
        height: 157px;
    }
}