

.testimonials-paragraph {
    color: #FCF9F9;
    font-size: 44px;
    font-weight: 500;
    line-height: 1.45;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
}

.testimonials-name {
    color: #FCF9F9;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5; 
    margin-bottom: 8px;
}

.testimonials-text {
    color: rgba(252, 249, 249, 0.40);
    text-align: center;
    font-weight: 400;
    line-height: normal;
    width: 291px;
}

.common-div {
    padding-top: 24px;
}

.addition-container {
    padding: 0 18px 18px 18px;
    border-radius: 4px;
    border: 1px solid rgba(252, 249, 249, 0.10);
}

.testimonials-span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 34px;
    position: relative;
    margin-bottom: 20px;
}

    .testimonials-img {
        position: absolute;
        top: -24px;
        box-shadow: 0px 1px 4px 0px rgba(16, 24, 40, 0.06);
   }

    .testimonials-section {
        padding: 80px 0;
    }

    .testimonials-text {
        font-size: 14px;
    }

    .addition-container-second {
        display: none;
    }

    .addition-container-third {
        display: none;
    }

@media screen and (min-width:768px) {

    .testimonials-text {
        width: 300px;
        font-size: 16px;
    }

    .testimonials-section {
        padding: 100px 0;
    }

    .addition-container {
        padding-bottom: 39px;
    }

    .addition-container-second {
        display: block;
        opacity: 1;
        padding: 0 18px 18px 18px;
        border-radius: 4px;
        border: 1px solid rgba(252, 249, 249, 0.10); 
    }

    .addition-container-third {
        display: none;
    }
    .testimonials-list {
        display: flex;
        column-gap: 32px;
    }

}

@media screen and (min-width:1280px) {

    .testimonials-section {
        padding: 150px 0;
    }

    .addition-container {
        padding-bottom: 39px;
    }

    .addition-container-third {
        display: block;
        opacity: 1;
        padding: 0 18px 18px 18px;
        border-radius: 4px;
        border: 1px solid rgba(252, 249, 249, 0.10); 
    }

    .addition-container-second {
        display: block;
        opacity: 1;
        padding: 0 18px 18px 18px;
        border-radius: 4px;
        border: 1px solid rgba(252, 249, 249, 0.10); 
    }

    .testimonials-list {
        display: flex;
        column-gap: 26px;
    }

}
