.order {
    padding-top: 80px;
}

.order-bg {
    background-image: url(../img/your-order/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 375px;
    height: 550px;
    margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .order-bg {
        background-image: url(../img/your-order/bg-mobile@2x.jpg);
    }
}

.order-img {
    display: none;
}

.wrap-order {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.order-title {
    color: #FCF9F9;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.37;
    /* 137.5% */
    letter-spacing: -0.03em;
    margin-bottom: 40px;
    max-width: 335px;
    text-align: left;      
}

.order-title-span {
    color: #ECD979;
}

.order-form {
    width: 335px;
}

.wrap-input {
    margin-bottom: 20px;
}

.form-input {
    width: 303px; ;
    height: 47px;
    background: transparent;
    outline: transparent;
    padding: 14px 16px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    color: rgba(252, 249, 249, 0.50);
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.02em;
}

.form-textarea {
    width: 303px;
    height: 196px;
    border-radius: 8px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    padding: 14px 16px;
    align-items: center;
    color: rgba(252, 249, 249, 0.50);
    background-color: transparent;
    resize: none;
    margin-bottom: 40px;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.02em;
}

.form-btn {
    min-width: 145px;
    height: 49px;
    padding: 14px 36px;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    background-color:  transparent;
    display: block;
    margin: 0 auto;
    color: #FCF9F9;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.04em;
    text-transform: uppercase;      
}

.form-btn:hover,
.form-btn:focus {
    border-color: #ECD979;
}

.form-btn-icon {
    fill: #ECD979;
    margin-left: 10px;
}

@media screen and (min-width:768px) {

.order {
    position: relative;
    padding-bottom: 0;
    background-image: url(../img/your-order/bg-order-tablet.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    padding-top: 100px;
}

 .order-container {
    display: flex;
    flex-direction: column;
    left: 0;
    overflow: hidden;
 }   

 .order-img {
    display: flex;
    width: 638px;
    margin-left: 62px;
    margin-bottom: 79px;
 }

.wrap-order {
    margin-bottom: 100px;
    flex-direction: column;
   
}

.order-title {
    font-size: 44px;
    line-height: 1.32;
    min-width: 542px;
}

.order-form {
    width: 508px;
}

.form-input {
    width: 476px;
    font-size: 16px;
}

.form-textarea {
    width: 476px;
    font-size: 16px;
}

.order-bg {
    background-image: url(../img/your-order/bg-tablet.jpg);
    width: 768px;
    height: 776px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .order-bg {
        background-image: url(../img/your-order/bg-tablet@2x.jpg);
    }
}

.form-btn {
    margin: 0;
    min-width: 168px;
    height: 50px;
    padding: 14px 39px;
}
}

@media screen and (min-width:1280px) {

    .order-container {
        flex-direction: row-reverse;
        gap: 50px;
    }

    .order-img {
        width: 524px;
        margin-left: 0;
        margin-bottom: 199px;
    }

    .wrap-order {
        margin-bottom: 0;
    }

    .order-bg {
        background-image: url(../img/your-order/bg-desktop.jpg);
        width: 100%;
        height: 776px;
 }

    .order {
        padding-top: 150px;
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .order-bg {
                background-image: url(../img/your-order/bg-desktop@2x.jpg);
            }
        }
}
